<!DOCTYPE html>
<html>

<head>
	<title>RPA</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
	<div class="container">
		<div class="header">
			<h1 class="title">Remote Protocol Analyzer</h1>
			<div class="user-info">
				<span>{{ username }}</span>
				<a href="{{ url_for('logout') }}">Logout</a>
			</div>
		</div>
		<div class="logic">
			<div class="heading-container">
				<h2>Saleae Remote Connection</h2>
				<a href="{{ url_for('upload_file') }}">
					<button id="uploadBtn" type="button" title="Upload Python or JSON files for extension">
						Upload Extension
					</button>
				</a>
			</div>
			<iframe allowfullscreen height="100%" src="/novnc/vnc.html?path=vnc&autoconnect=true&resize=scale&reconnect=true&show_dot=true"></iframe>
		</div>
		<div class="stream">
			<h2>Live Stream</h2>
			<a href="{{ url_for('video') }}" target="_blank">
				<img width="100%" src="{{ url_for('video') }}" />
			</a>
			<h3>Hardware Controls</h3>
			<button id="resetBtn" type="button">Reset</button><br />
			<button id="transmitBtn" type="button">Transmit</button>
			<h2>Project Info</h2>
			<a href="mailto:Mike.Ham@dsu.edu">Mike.Ham@dsu.edu</a><br />
			<a href="https://github.com/DSUmjham/remote-protocol-analyzer">GitHub Repo</a><br />
			<a href="https://github.com/DSUmjham/remote-protocol-analyzer" target="_blank">
				<img width="100%" src="{{ url_for('static', filename='images/git-qr-link.png') }}" />
			</a>
			<script>
				document.getElementById("resetBtn").addEventListener('click', function () {
					fetch("/reset");
				})
				document.getElementById("transmitBtn").addEventListener('click', function () {
					fetch("/transmit");
				})
			</script>
		</div>
	</div>
</body>

</html>